@import 'mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap');



html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
}

// header

header {
    background-color:black;  

    .container {
        max-width: 1160px;
        padding: 30px 0;
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }

    .logo{
        display: flex;
        gap: 40px;
    }

    nav {
        display: flex;
        gap: 40px;
        align-items: center;
    
        & a{
            text-decoration: none;
            @include text;
            font-family: 'DM Mono', monospace;
            font-size: 16px;
            line-height: 16px;
            
            &:first-child {
                white-space: nowrap;
            }    
        }
    }
        .networks{
        display: flex;
        gap: 12px;     
    
        & a{
            padding: 8px;
            background-color: white;            
        }
    }
}

// promo

.promo {
    background-color: black;

    .container{
        max-width: 1440px;
        padding: 50px 10px; 
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        
        h1{
            font-family: 'Audiowide', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 51px;
            line-height: 61px;
            text-transform: uppercase;
            color:white;
            margin-bottom: 45px;
        }

        .descr {
            @include text;
            font-size: 16px;
            line-height: 26px;  
            margin-bottom: 115px; 
            max-width: 305px;         
        }

        .promo-cards {
            display: flex;
            & .cards:nth-child(odd) {
                filter: opacity(0.6);  
                z-index: 1;  
                margin-top: 40px;            
            }

            .cards_purpule {
                    width: 266px;
                    transform: scale(1.5);    
                    height: 360px;
                }
        }

        button {
            font-family: 'DM Mono', monospace;
            line-height: 16px;
            font-size: 16px;
            text-align: center;
            color: #000000;
            padding: 17px 40px;
            background-color: #8DFD1B;
            
        }
    }
}

// wave

.wave {
    background-color: black;
    padding: 120px 40px;
    .container{
        max-width: 1160px; 
        display: flex;
        justify-content: space-between;  
        gap: 146px;

        .wave-title{
            padding-top: 7px;
        }
        
        h2{
            @include title;
            color: #ffff;
        }

        .subtitle {
            @include title;
            color: #A8A8A8;
            margin-bottom: 41px;
        }

        .wave-info{
            max-width: 580px;
            

            &__definition {
                @include text;
                font-family: 'DM Mono', monospace;
                font-size: 21px;
                line-height: 32px;            
                color: #8DFD1B;
                border-left: 2px solid #8DFD1B ;
                padding-left: 12px;
                margin-bottom: 32px;
            }
    
            &__descr {
                @include text; 
                font-size: 16px;
                line-height: 26px;     
                margin-bottom: 18px;
            }

            button {
                @include text;
                font-family: 'DM Mono', capitalize;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                padding: 15px 30px;
                border: 1px solid #8DFD1B;
                background-color:#000000
            }
        }     
    }
}

// running line 

.line {
    background-color:#000000;
    display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;    
}

.line span {
    @include text;
    font-family: 'Audiowide', sans-serif;
    font-size: 79px;
    line-height: 88px;      
    text-transform: uppercase;    
    display: inline-block;
    padding-left: 30%;
    animation: scroll 5s infinite linear;
}
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
} 

// artists

.artists {
        background-color: #000000;
        padding: 120px 0 120px 40px;

        .container{        
        max-width: 1160px;
        h2 {
            display: none;
        }

        .artists-people {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
        
             .arists-people__name {
                display: flex;
                flex-direction: column;
                align-items:center;
                gap: 20px;

                p {
                    @include text;
                    font-family: 'DM Mono', monospace;                    
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}
       
// story

.story {
    background-color: #000000;
    padding: 120px 40px;
    
    .container {
        min-height: 700px;

        h2 {
            @include title;
            color: #A8A8A8;
            text-align: center;
            margin-bottom: 60px;
        & span {
            color:#fff;
        }   
    }       

        img {
            height: 100%;
        }

        .definition {
            @include text;
                font-family: 'DM Mono', monospace;
                font-size: 21px;
                line-height: 32px;            
                color: #8DFD1B;
                border-left: 2px solid #8DFD1B ;
                padding-left: 12px;
                margin-bottom: 32px;
        }
    }
}

.tabs { 
    max-width: 950px;
    padding: 0px; 
    margin: 0 auto; 
    position: relative; 
} 

.inset { 
    display: none;  
    padding: 15px; 
    background: #222222;
    position: absolute; 
    top: 0; 
    left: 205px; 
}  

p { 
    margin: 0; 
    @include text; 
    font-size: 16px;
    line-height: 26px;     
    margin-bottom: 18px;
} 

input { 
    display: none; 
} 

label { 
    display: block; 
    padding: 15px 15px 25px 15px; 
    color: #fff; 
    background: black; 
    cursor: pointer; 
} 

input:checked + label { 
    font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #8DFD1B;
background: #222222;
} 

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 { 
    display: flex;
    gap: 50px
} 

.inset { 
    animation: scale 0.7s ease-in-out; 
} 

@keyframes scale { 
    0% { 
    transform: scale(0.9); 
    opacity: 0; 
    } 
    50% { 
    transform: scale(1.005); 
    opacity: 0.5; 
    } 
    100% { 
    transform: scale(1); 
    opacity: 1; 
    } 
}
    
.background {
    min-height: 240px;
    background-image: url(../img/music.webp);
    background-position: center;
   background-attachment: fixed ; 
   background-repeat: no-repeat;
   background-size: cover;
}
   
// roadmap 

.roadmap {
    background-color: black;
    
        .container {
        max-width: 1160px;
        padding: 50px 0 120px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        h2 {
            @include title;
            color: #ffff;
            text-align: center;
            margin-bottom: 45px;            
        }     

        .roadmap-phase {
            border: 2px solid #8DFD1B;
            max-width: 540px;
            margin-bottom: 45px;
            margin-top: 45px;

                &__before {   
                display: flex;
                align-items:center;
                padding: 12px;
                border-bottom: 2px solid #8DFD1B;            
         }  

            &__before::before {
                content:'1';
                background: #8DFD1B;
                border: 1px solid #8DFD1B;
                font-style: 40px;
                font-family: 'DM Mono';
                font-weight: 400;
                font-size: 28px;
                line-height: 28px;
                padding: 8px 12px;
            }

                .before_second::before {
                content:'2';
                border: 1px solid #8DFD1B;
                background: black;
                color:#8DFD1B;
            }

                .before_third::before {
                content:'3';
                border: 1px solid #8DFD1B;
                background: black;
                color:#8DFD1B;
            }
                &-title {
                    display: flex;
                    flex-direction: column;
                    padding-top: 25px;
                    padding-left: 20px;

                    h3 {
                    @include small-title;
                }
                    .subtitle {
                    font-family: 'DM Mono';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }

                &-info{
                    display: flex;
                    gap:70px;
                    padding: 30px 12px 12px 12px;

                    p{
                        @include text;
                        font-size: 11px;
                        line-height: 32px;
                        margin: 0;
                    }

                    p:nth-child(-n+3){
                        padding-left: 20px;
                    }
                    &__text {
                        max-width: 410px;
                    }

                    img {
                        border-radius: 8px;
                        height: 130px;
                        width: 129px;
                    }
                }
            }
            .separator {
                background-color: #8DFD1B;
                height: 40px;
                width: 2px;
            }

            .circle-1 {
                position: absolute;
                top: -110px;
                left: -110px
            }
            .circle-2 {
            position: absolute;
            transform: translate(50%, 50%);
            }
            .circle-3 {
            position: absolute;
            transform: translate(-50%, 125%);
        }
    }
}  

.partners {
    background-color:#000000;
    padding-top: 60px;
    padding-bottom: 119px;

    .container {
        max-width: 1160px;

        h3 {
            @include small-title;
            text-align: center;
            margin-bottom: 50px;
        }

        .partners-name {
            display: flex;
            flex-wrap: wrap;
            gap: 60px 85px;
            justify-content: center;

            p {
                @include title;
                color: #A8A8A8;
                margin: 0;
            }
        }
    }

}
    

    
    


       
   


