// header
@media all and (max-width:768px) {
    
    header{
        .container{
            gap: 20px;
        }
        .logo {
            gap: 20px;
        } 
    }
   
}
@media all and (max-width:650px){
    header {
        .container {
            justify-content: center;
        }
        .logo {
            justify-content: center;
        }
        .networks {
            display: none;
        }    
    }
}
@media all and (max-width:480px) {
    header {      
        .logo {
            align-items:center;
        }
        nav {
            flex-direction: column;
            gap: 20px;
        }
    }
}


// promo

@media all and (max-width: 1050px){
    .promo {
        .container {
            flex-direction: column;
            align-items:center;
        
            .promo-info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        .descr {
            max-width: 100%;
            margin-bottom: 30px;
        }
        button{
            margin-bottom: 100px;
        }    
    }
    }
}

@media all and (max-width: 750px) {
    .promo { 

        .container {
            h1 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 40px;
        }
            .descr {
            align-items: center;
            margin-bottom: 10px;
            text-align: center;
        }
            .promo-cards{
            display: none;
        }
            button{
            margin-bottom: 0;
        }    
        }
    } 
}

// wave

@media all and (max-width: 790px) {
    .wave {
        padding: 50px 10px;

        .container {
            flex-direction: column;
            align-items: center;
            gap: 45px;
        }
    }
}

@media all and (max-width: 790px) {
    .wave {
        .container {
            gap: 0;
        
            img {
                display: none;
            }
        }
    }
}

// running line

@media all and (max-width: 790px) {
    .line {
        display: none;
    }
}

// artists

@media all and (max-width: 790px) {
    .artists {
        padding: 0;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        h2 {
            font-family: 'Audiowide', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            line-height: 45px;
            text-transform: uppercase;
            display: inline-block;            
            color: #ffff;            
        }

        & .artists-people{
            gap: 3px;
            justify-content: center;
        }
    }
    }
}

// story

@media all and (max-width: 840px) {
    .story {
        .container {
            min-height: 515px;

            img {
                display: none;
            }    
    }
}
}

@media all and (max-width: 660px) {
    .story {
        .container {
            min-height: 360px;
        
        .inset {
            max-height: 300px;
             overflow: scroll;
             left: 140px;
        }            
    }
}
}

// questions

@media all and (max-width: 900px) {
    .questions {
        .container {
            gap: 20px;
        }
    }    
}

@media all and (max-width: 750px) {
    .questions {
        .container {
            flex-direction: column;
            gap: 20px;
            align-items: center;

            img{
                display: none;
            }
        }
    }    
}

@media all and (max-width: 400px) {
    .questions {
        .container {
            .square {
                display: none;
            }                 
        }
    }    
}

// team 

@media all and (max-width: 790px) {
   .team {
    .container{
        gap: 50px;
        flex-direction: column;
    align-items: center;
        h2{
            font-family: 'Audiowide', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            line-height: 45px;
            text-transform: uppercase;
            display: inline-block;            
            color: #ffff;     
        }
    }
   }
}
