
@mixin text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
}

@mixin title {
    font-family: 'Audiowide', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
}

@mixin small-title {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8DFD1B;
}

@mixin networks {
    padding: 8px;
    background-color: white;      
}